<%- include('../components/header',{title:"Login-Laundry",auth:auth,data:data,admin:admin}) %>



  <div className='body'>
    <div className='LoginBox glow'>
      <div className='te'>
        <form id="login" method="post" action="/login" onsubmit="return validateform()">
          <h2>Login</h2>
          <div className='InputBox'>
            <span className='Icon'></span>
            <input name="roll" onblur="validateemail()" type="email" required></input>
            <label>Email</label>
            <p id="emailerror" style="color: red;"></p>

          </div>
          <div className='InputBox'>
            <span className='Icon'></span>
            <input name="password" onblur="validatepassword()" type="password" required></input>
            <label>Password</label>
            <p id="passworderror" style="color: red;"></p>

          </div>
          <button type='submit'>Login</button>
          <div className='RegisterLink'>
            <p>Don't have an account ? <a href="/Register" className='Reg'>Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <% if(condition){ %>
    <div id="myModal" class="modal1">
      <div class="modal-content1"><span class="close">&times;</span>
        <p>User with same Roll number already exists please login</p>
      </div>
    </div>
    <% } %>
      <% if(login){ %>
        <div id="myModal" class="modal1">
          <div class="modal-content1"><span class="close">&times;</span>
            <p>Please login first</p>
          </div>
        </div>
        <% } %>
          <% if(password1){ %>
            <div id="myModal" class="modal1">
              <div class="modal-content1"><span class="close">&times;</span>
                <p>Password Wraang Try again</p>
              </div>
            </div>
            <% } %>
              <% if(success){ %>
                <div id="myModal" class="modal1">
                  <div class="modal-content1"><span class="close">&times;</span>
                    <p>Sucessfully registered please login</p>
                  </div>
                </div>
                <% } %>

                  <style>
                    .modal1 {
                      display: block;
                      position: fixed;
                      z-index: 1;
                      padding-top: 100px;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 100%;
                      overflow: auto;
                      background-color: rgb(0, 0, 0);
                      background-color: rgba(0, 0, 0, 0.4);
                    }

                    /* Modal Content */
                    .modal-content1 {
                      background-color: #fefefe;
                      margin: auto;
                      padding: 20px;
                      border: 1px solid #888;
                      width: 80%;
                    }

                    /* The Close Button */
                    .close {
                      color: #aaaaaa;
                      float: right;
                      font-size: 28px;
                      font-weight: bold;
                    }

                    .close:hover,
                    .close:focus {
                      color: #000;
                      text-decoration: none;
                      cursor: pointer;
                    }



                    #login {
                      padding-left: 25%;
                      padding-right: 25%;
                    }

                    .error {
                      border: solid 3px red;
                    }
                  </style>
                  <link rel="stylesheet" href="Login.css"></link>
                  <script>
                    var modal = document.getElementById("myModal");
                    var span = document.getElementsByClassName("close")[0];
                    span.onclick = function () {
                      modal.style.display = "none";
                    }

                    window.onclick = function (event) {
                      if (event.target == modal) {
                        modal.style.display = "none";
                      }
                    }

                    function validateemail() {
                      if (($("#email").val()).length >= 1) {
                        $("#emailerror").text("")
                        $("#email").removeClass("error")
                      }
                      if ($("#email").val() == "") {
                        $("#email").addClass("error")
                        $("#emailerror").text("Roll No Cannot Be Empty")
                      }
                    }
                    function validatepassword() {
                      if (($("#password").val()).length >= 1) {
                        $("#passworderror").text("")
                        $("#password").removeClass("error")
                      }
                      if ($("#password").val() == "") {
                        $("#password").addClass("error")
                        $("#passworderror").text("Roll No Cannot Be Empty")
                      }
                    }


                    function validateform() {
                      var isValid = true;
                      if ($("#email").val() == "") {
                        isValid = false;
                        $("#email").addClass("error")
                        $("#emailerror").text("Roll No Cannot Be Empty")
                      }
                      if ($("#password").val() == "") {
                        isValid = false;
                        $("#password").addClass("error")
                        $("#passworderror").text("Password Cannot Be Empty")
                      }

                      return isValid
                    }
                  </script>
                  <%- include('../components/footer') %>