<%- include('../components/header',{title:'Register-Laundry',auth:auth,data:data,admin:admin});%>
    <div id="register">
        <h1>Register Page</h1>

        <div className='body'>
            <div className='LoginBox glow'>
                <div className='te'>
                    <form className='Form' method="post" action="register" onsubmit="return validateregister()">
                        <h2 className='titlee'>Register</h2>
                        <div className='InputBox'>
                            <input className='attribute' name="name" id="name" onblur="validatename()" type='username'
                                required></input>
                            <label name='username'>Username</label>
                            <p id="nameerror" style="color: red;"></p>
                        </div>
                        <div className='InputBox'>
                            <span className='Icon'></span>
                            <input className='attribute' name="roll"  id="roll" onblur="validaterollno()" required></input>
                            <label name='email'>Roll</label>
                            <p id="rollerror" style="color: red;"></p>

                        </div>
                        <div className='InputBox'>
                            <span className='Icon'></span>
                            <input className='attribute' name="password" id="password" onblur="validatepassword()" required></input>
                            <label name='password'>Password</label>
                            <p id="passworderror" style="color: red;"></p>

                            <div className='InputBox'>
                                <span className='Icon'></span>
                                <input className='attribute' name="confirmpassword" id="confirmpassword" onblur="validateconfirmpassword()"required></input>
                                <label name='password'>Password</label>
                                <p id="confirmpassworderror" style="color: red;"></p>

                            </div>
                        </div>
                        <br></br>
                        <button className='RegBtn' type='submit'>Register</button>
                        <div className='RegisterLink'>
                            <div>
                                <p>Already have an account ? <a href='/Login' className='Reg'>Login</a></p>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

        <% if(modal){ %>
            <div id="myModal" class="modal1">
                <div class="modal-content1"><span class="close">&times;</span>
                    <p>User Does not exist please Register</p>
                </div>
            </div>
            <% } %>
    </div>
    <link rel="stylesheet" href="Register.css">
    </link>
    <link rel="stylesheet" href="Login.css">
    </link>
    <style>
        .modal1 {
            display: block;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        /* Modal Content */
        .modal-content1 {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }



        #register {
            padding-left: 25%;
            padding-right: 25%;
        }

        .error {
            border: solid 3px red;
        }
    </style>
    <script>
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function hasNumber(str) {
            return /\d/.test(str);
        }
        function hasalpha(str) {
            return /[a-z]/i.test(str)
        }
        function validatename() {
            if ($("#name").val().length < 1) {
                $("#name").addClass("error")
                $("#nameerror").text("Name Cannot Be Empty")
            }
            if (($("#name").val().length >= 1)) {
                $("#name").removeClass("error")
                $("#nameerror").text("")
            }
            if (hasNumber($("#name").val())) {
                $("#name").addClass("error")
                $("#nameerror").text("Name Cannot contain numbers")
            }

        }
        function validaterollno() {
            if ($("#roll").val() == "") {
                $("#roll").addClass("error")
                $("#rollerror").text("Roll no cannot be empty")
            }
            if (($("#roll").val().length >= 1)) {
                $("#roll").removeClass("error")
                $("#rollerror").text("")
            }
            if (hasalpha($("#roll").val())) {
                $("#roll").addClass("error")
                $("#rollerror").text("Roll Number Cannot Contain Alphabets")
            }


        }
        function validatepassword() {
            if ($("#password").val().length < 1) {
                $("#password").addClass("error")
                $("#passworderror").text("Password Cannot be Empty")
            }
            if (($("#password").val().length >= 1)) {
                $("#password").removeClass("error")
                $("#passworderror").text("")
            }
        }
        function validateconfirmpassword() {
            if ($("#confirmpassword").val().length < 1) {
                $("#confirmpassword").addClass("error")
                $("#confirmpassworderror").text("Password Cannot be Empty")
            }
            if (($("#confirmpassword").val().length >= 1)) {
                $("#confirmpassword").removeClass("error")
                $("#confirmpassworderror").text("")
            }

        }



        function validateregister() {
            var isValid = true;
            if ($("#name").val().length < 1) {
                isValid = false;
                $("#name").addClass("error")
                $("#nameerror").text("Name Cannot Be Empty")
            }
            if (hasNumber($("#name").val())) {
                isValid = false;
                $("#name").addClass("error")
                $("#nameerror").text("Name Cannot contain numbers")
            }
            if (($("#roll").val()) == "") {
                isValid = false
                $("#roll").addClass("error")
                $("#rollerror").text("Roll no Cannot Be Empty")
            }

            if (hasalpha($("#roll").val())) {
                isValid = false
                $("#roll").addClass("error")
                $("#rollerror").text("Roll Number Cannot Contain Alphabets")
            }
            if (($("#password").val()).length < 1) {
                isValid = false
                $("#password").addClass("error")
                $("#passworderror").text("Password Cannot Be Empty")
            }
            if (($("#confirmpassword").val()).length < 1) {
                isValid = false
                $("#confirmpassword").addClass("error")
                $("#confirmpassworderror").text("Password Cannot Be Empty")
            }
            if (($("#password").val()) != ($("#confirmpassword").val())) {
                isValid = false
                $("#password").addClass("error")
                $("#confirmpassword").addClass("error")
                $("#passworderror").text("Passwords donot match")
                $("#confirmpassworderror").text("Passwords donot match")
            }
            if (hasalpha($("#roll").val())) {
                isValid = false
                $("#roll").addClass("error")
                $("#rollerror").text("Roll Number Cannot Contain Alphabets")
            }
            return isValid
        }
    </script>
    <%- include('../components/footer') %>